<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
  <h2>Shinto Coins</h2>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button [routerLink]="['home']">Home</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['mine']">Mine Coins</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['buy']">Buy Coins</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['sell']">Sell Coins</button>
    </li>
    <li class="nav-item">
      <button [routerLink]="['ledger']">Browse Ledger</button>
    </li>

  </ul>
  </div>
</nav>

<hr>
